section.contacts_cont {
	background-color: #E3E4FE;
	padding-top: 1px;
	float: left;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
		text-align: center;
}


.contact_cont {
	position: relative;
    display: inline-block;
    float: none !important;
    vertical-align: top;
    margin-bottom: 25px;
}

.contact_cont .contact_inner {
	padding-top: 30px;
	position: relative;
	width: 359px;
	height: 100px;
	text-align: center;
}

.contact_cont .icon {
	font-size: 2em;
}

.contact_cont a {
	color: inherit;
}