.courses_cont {
	background-color: #F5F5F5;

	float: left;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.courses_cont .my_container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.courses_cont .my_container .main_label {
	font-size: 3em;
}

.course_cont {
    display: inline-block;
    float: none !important;
    vertical-align: top;
    margin-bottom: 25px;
}

.course_cont .course_roud_frame {
    position: relative;
    width: 359px;
    height: 350px;
    text-align: center;
}

.course_cont .course_roud_frame .lable_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	/*padding: 16px 50px 0px 50px;*/
}

.course_cont .course_roud_frame .type_container {
    position: absolute;
    top: 35%;
    left: 0px;
    width: 100%;
}

.course_cont .course_roud_frame .type_container .info_line {
	font-size: 1.5em;
}

.course_cont .course_roud_frame .info_container {
    position: absolute;
    bottom: 16px;
    left: 0px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.course_cont .course_roud_frame .info_container .info_line {
	font-size: 1.3em;
}

.course_cont .course_roud_frame .color_line {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
}
